<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote</title>
</head>
<body>
    <div id="root">
        <h3>{{ p.question}}</h3>
        {% for option in p.options %}
            <div>{{ option }}</div>
        {% endfor %}
    </div>
    <form action="" method="POST">
        <input type="text" name="user_name" placeholder="Your Name">
        <input type="number" name="number" placeholder="Your choice">
        <button>Vote</button>
    </form>
</body>
</html>