<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index.css">
    <title>Bike Rental Service</title>
</head>
<body>
    <div id="root">
        <div>
            <form action="" method="POST">
                <b>Model</b> <input type="text" name="model" placeholder="e.g. Honda"><br>
                <b>Daily fee (VND)</b>  <input type="text" name="daily_fee" placeholder="100000"><br>
                <b>Image</b> <input type="text" name="image" placeholder="e.g. https://hondaxemay.com.vn"><br>
                <b>Year</b> <input type="text" name="year" placeholder="e.g. 2013"><br>
                <button>Submit</button>
            </form>
        </div>
    </div>

</body>
</html>