html, body {
    height: 100%;
}
#root {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
/* * {
    border: 1px red dashed;
} */
form {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
button {
    background-color: rgb(60, 60, 221);
    color: #ffffff;
    border-radius: 5px;
}
input {
    border-radius: 5px;
}